.cart-container {
  flex: 1;
  box-shadow: rgb(17 17 26 / 5%) 0px 1px 0px, rgb(17 17 26 / 10%) 0px 0px 8px;
  border-radius: 5px;
  padding: 0.5em;
  max-height: 45em;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  margin-top: 2em;
}

.cart-item {
  width: 100%;
  padding: 0.2em;
  margin: 1.5em 0;
  display: flex;
  border-bottom: 1px solid rgba(196, 194, 194, 0.5);
  justify-content: space-around;
  align-items: center;
  box-shadow: rgb(0 0 0 / 5%) 0px 3px 6px, rgb(0 0 0 / 5%);
}

.item-container {
  display: flex;
  flex: 50%;
  margin-right: 1em;
}

.cart-item img {
  width: 4em;
}

.quantity-container {
  flex: 30%;
  display: flex;
  align-items: center;
}

.cart-item p {
  cursor: pointer;
  margin: 0 0.5em;
  font-size: 1.5rem;
}

button {
  border: none;
  padding: 0.5em;
  border-radius: 5px;
}

button:hover {
  background: rgba(148, 148, 148, 1);
}
